@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v4-latin-regular.eot');
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('../fonts/roboto-mono-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-mono-v4-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-mono-v4-latin-regular.woff') format('woff'),
       url('../fonts/roboto-mono-v4-latin-regular.ttf') format('truetype'),
       url('../fonts/roboto-mono-v4-latin-regular.svg#RobotoMono') format('svg');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v6-latin-regular.eot');
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-slab-v6-latin-regular.woff2') format('woff2'),
       url('../fonts/roboto-slab-v6-latin-regular.woff') format('woff'),
       url('../fonts/roboto-slab-v6-latin-regular.ttf') format('truetype'),
       url('../fonts/roboto-slab-v6-latin-regular.svg#RobotoSlab') format('svg');
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial;
	background-color: #e4e4e2;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
}

/*
Research Tools
*/

h1 {
	text-align: center;
	background: linear-gradient(90deg, #254b6b 10%, #286584 90%);
	margin: 0;
	padding: .68em 0;
	color: #fff;
	font-family: Roboto Slab, Helvetica, Helvetica Neue, Arial;
	font-weight: 400;
}

h1 span {
	color: #28b7c8;
}

.card h2 {
	margin: 0;
	padding: .8em 0 .8em .8em;
	border-bottom: 2px solid #eee;
	text-align: left;
	color: #346997;
	cursor: pointer;
	font-family: Roboto Mono, courier;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 400;
}

.card h2 .collapse-sign {
	float: right;
	margin-right: 15px;
	background-color: #99b4cb;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	padding-left: 7px;
	line-height: 26px;
	margin-top: -2px;
}

.card h2 .collapse-sign::before {
	display: inline-block;
	content: "";
	height: 3px;
	width: 16px;
	background-color: #fff;
	vertical-align: middle;
	margin-right: -9px;
}

.card h2 .collapse-sign::after {
	height: 16px;
	width: 3px;
	display: inline-block;
	content: "";
	background-color: #fff;
	vertical-align: middle;
	transition: .5s;
	transform: rotate(90deg);
}

.card.collapsed h2 .collapse-sign::after {
	animation: rotate .5s;
	transform: rotate(0deg);
}

.card.collapsed {
	max-height: 3.45em !important;
}

#research-tool {
	padding: 1em .5em 0 .5em;
}

.card {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	text-align: center;
	color: #333;
	margin-bottom: 1em;
	background-color: #fff;
	overflow-y: hidden;
	max-height: 35em;
	transition: max-height .5s;
	border-radius: 10px;
	box-shadow: 0 0 15px -5px;
}

.card input[type=text],
.card textarea {
	display: inline-block;
	width: 80%;
	padding: .4em .7em;
	font-size: 1.1em;
	border: 1px solid #888;
	transition: border .2s;
	vertical-align: top;
	outline: 0;
	border-radius: 1em;
	margin: .5em 0 !important;
}

#getRes,
#getSnippet {
	display: inline-block;
	padding: .4em .5em;
	cursor: pointer;
	transition: .2s;
	font-size: 1.1em;
	vertical-align: top;
	background-color: #fff;
	background-image: url(../img/search.svg);
	background-size: 1.1em;
	background-position: center;
	background-repeat: no-repeat;
	outline: none;
	border: 1px solid #888;
	border-radius: 0 1.5em 1.5em 0;
	border-left-width: 0;
	margin: .5em 0 !important;
}

button#getRes::before,
button#getSnippet::before {
	content: " ";
	display: block;
	padding: .6em;
}

input[type=text]:focus {
	outline: 0;
	border-color: #228fd3;
}

#topicInput {
	width: calc(80% - 2.5em);
	border-right-width: 0;
	border-radius: 1.5em 0 0 1.5em;
}

#resInput:focus + #getRes,
#topicInput:focus + #getSnippet {
	border-color: #228fd3;
}

.ngoGroupItem {
	text-transform: capitalize;
}

.treatyLinkItem.selected,
.categoryItem.selected,
.resourceGroupItem.selected,
.unItem.selected,
.unGroupItem.selected,
.ngoGroupItem.selected {
	background: #e1e3f2 !important;
}

#gaRes,
#scRes,
#secGen,
#ReutersHeadlines,
#GNewsHeadlines,
#UNHeadlines,
#treatyCategories,
#treatyTitles,
#treatyProfile,
#unLevel1,
#unLevel2,
#unLevel3,
#profileList,
#ngoGroupList,
#sourceWrapper,
#newsWrapper,
#searchWiki,
#resourceGroups,
#resourceLinks {
	margin: 0;
	padding: 0;
	width: 32.5%;
	display: inline-block;
	height: 25em;
	overflow-y: scroll;
	vertical-align: top;
}

#relatedVideos,
#relatedNews {
	width: 100%;
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	min-height: 19em;
}

#profileNews {
	min-height: 15em;
}

#gaRes h3,
#scRes h3,
#secGen h3,
#ReutersHeadlines h3,
#GNewsHeadlines h3,
#UNHeadlines h3,
#sourceWrapper h3,
#newsWrapper h3 {
	margin: .3em;
}

.hidden,
.card.empty .position,
#treatyProfile.empty > *,
#cardswitcher,
#cardcountries.empty #profileMap,
#cardcountries.empty #profileFacts,
#cardcountries.empty #profilePreview,
#treatyProfile.wikiSum #wikiProp,
#treatyProfile.wikiProp #wikiSum,
#profilePreview.profileLinks #profileNews,
#profilePreview.profileNews #profileLinks,
#newsWrapper.relatedNews #relatedVideos,
#newsWrapper.relatedVideos #relatedNews,
#searchWiki.searchInner #searchKeys,
#searchWiki.searchInner h4,
#searchWiki.searchKeys #searchInner {
	display: none !important;
}

#searchWiki.empty {
	overflow: hidden;
}

.card li {
	font-weight: 400;
	list-style: none;
	padding: .8em 1em;
	background-color: #fff;
	margin-bottom: 2px;
	color: #000;
	cursor: pointer;
	text-align: left;
	vertical-align: top;
	border: 1px solid #b4b4b4;
	border-bottom-width: 2px;
	border-top-color: #e5e5e5;
	transition: .1s;
}

#profileNews {
	padding: 0;
}

#profilePreview,
#profileFacts,
#ngoPreview {
	display: inline-block;
	background-color: #fafafa;
	width: 32.5%;
	height: 25em;
	text-align: left;
	vertical-align: top;
	padding: 1em;
	box-shadow: inset 0 0 20px -10px;
	overflow: scroll;
	word-wrap: break-word;
	line-height: 1.7em;
}

#ngoPreview {
	line-height: initial;
	padding: 0;
}

.ngoImg {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
	padding: 1em;
	border: .5em solid #333;
	width: 100%;
	max-width: 15em;
	background-color: #fff;
}

#previewTitle {
	margin: .5em 0;
	font-size: 2em;
	font-weight: 700;
}

#profilePreview a,
#ngoPreview a {
	text-decoration: none;
	font-weight: 700;
	color: #5959bf;
}

#profileMap {
	display: inline-block;
	background-color: #fafafa;
	width: 32.5%;
	height: 25em;
	vertical-align: top;
	box-shadow: inset 0 0 20px -10px;
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	overflow-y: scroll;
}

#profileName {
	font-weight: 700;
	font-size: 1.2em;
	display: block;
	padding: .9em 0;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
}

#profileFacts::before {
	content: "Key Facts";
	font-weight: 700;
	font-size: 1.2em;
	display: block;
	text-align: center;
	padding: 0;
	background: transparent;
}

#profileList {
	width: 99%;
	display: none;
}

#profileInput:focus ~ #profileList,
#cardcountries.empty #profileList {
	display: inline-block;
}

#ngoPreview,
#ngoGroupList {
	width: 48.5%;
}

#ngoPreview.empty::before {
	display: block;
	padding: 1.2em;
	text-align: left;
	content: "Choose an NGO group from the options given.";
}

#topicInput {
	margin-bottom: 0;
}

#searchWiki {
	height: 24.7em;
	overflow-y: scroll;
}

#searchWiki #searchInner,
#searchWiki #searchKeys {
	padding: 0 .5em;
}

#searchWiki.empty {
	line-height: 22em;
}

#searchWiki.empty::after {
	content: "Loading...";
	display: inline-block;
	text-align: center;
	line-height: normal;
	vertical-align: sub;
	padding: .5em;
}

#treatyProfile a {
	text-decoration: none;
	color: #4329d8;
}

#searchOther button,
#searchInner button,
#treatyProfile a.readmore,
#searchWiki a {
	display: inline-block;
	margin: .2em;
	border-radius: 4px;
	border: none;
	padding: .3em .5em;
	text-decoration: none;
	color: #fff;
	background-color: #4980fa;
	transition: .2s;
	text-transform: capitalize;
	font-size: .9em;
}

#searchOther button,
#searchInner button {
	background: #8a2be2;
	cursor: pointer;
}

#searchOther button {
	margin: .7em;
	padding: 1em;
}

#treatyProfile a.readmore {
	display: block;
	margin: .7em auto;
	width: 6em;
	text-align: center;
}

#searchWiki a.contents {
	display: block;
	margin: .5em 0;
	float: left;
	clear: left;
}

.card #searchWiki #searchInner li {
	border: 0;
	list-style-type: decimal;
	background: #fff !important;
	cursor: initial;
}

.subToggle {
	padding: .5em 0;
	line-height: normal;
	text-align: center;
}

.subToggle button {
	display: inline-block;
	margin: 0;
	border: 0;
	background-color: #fff;
	color: #4382c3;
	padding: .5em 0;
	min-width: 5em;
	width: 40%;
	max-width: 9em;
	font-size: .85em;
	margin: 0;
	border: 1px solid #99b4cb;
	transition: .2s;
	outline: none;
	cursor: pointer;
}

.subToggle button.selected {
	background-color: #99b4cb;
	color: #fff;
}

.subToggle button:first-child {
	border-radius: 1em 0 0 1em;
	padding-left: .1em;
}

.subToggle button:last-child {
	border-radius: 0 1em 1em 0;
	padding-right: .1em;
}

#resourceGroups,
#resourceLinks {
	width: 49%;
}

.resolutionItem span {
	background-color: #ff0;
	box-shadow: 3px 0 #ff0,
		-3px 0 0 #ff0;
}

a.videoItem,
#gaRes a,
#scRes a,
#secGen a,
#relatedNews a,
#ngoPreview a,
#ReutersHeadlines a,
#GNewsHeadlines a,
#UNHeadlines a,
#treatyCategories a,
#treatyTitles a,
#unLevel2 a,
#unLevel3 a,
#resourceLinks a {
	text-decoration: none;
	display: block;
}

.videoItem li {
	padding: .6em;
	min-height: 5em;
}

.videoItem li span {
	display: inline-block;
	float: left;
	clear: left;
	height: 3.4em;
	width: 6em;
	background-size: 6em;
	background-position: center;
	margin-right: .5em;
}

h3 a {
	color: inherit;
}

#cardres.empty h3,
#cardres.empty li {
	opacity: 0;
}

#cardres.empty > div,
#cardsources.empty > div {
	display: block;
	width: 0 !important;
	overflow: hidden !important;
}

#sourceWrapper li.sourceItem {
	display: inline-block;
	margin: .3em;
	padding: .4em;
	border-width: 0;
	font-size: .9em;
	background: #4980fa;
	color: #fff;
	border-radius: 5px;
}

#sourceLinks {
	padding: 0;
	margin: 0;
}

#resourceLinks.empty::before {
	display: block;
	padding: .7em;
	text-align: left;
	content: "Choose a resource group from the options given.";
}

#treatyTitles.empty::before {
	display: block;
	padding: .7em;
	text-align: left;
	content: "Choose a treaty category from the options given.";
}

#treatyTitles:not(.empty) ~ #treatyProfile.empty::before {
	display: block;
	padding: .7em;
	text-align: left;
	content: "Choose a treaty to view a summary of it as well as different properties of it.";
}

#unLevel2.empty::before {
	display: block;
	padding: .7em;
	text-align: left;
	content: "Choose a UN links group from the options given.";
}

#profileFacts .transnational b {
	text-transform: capitalize;
}

button.collapsenext {
	display: block;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	font-size: 1.1em;
	margin: .4em 0 .3em 0;
	padding: .5em;
	cursor: pointer;
	outline: none;
	transition: .1s;
	width: 100%;
	text-align: center;
}

.transnational button.collapsenext {
	width: auto;
	text-align: left;
}

.transnational {
	font-size: .9em;
	border-left: .2em solid #99b4cb;
	padding-left: .2em;
}

.transnational div {
	padding-left: .3em;
}

#treatyProfile {
	padding: 0 .4em;
	text-align: left;
}

.card #treatyProfile tbody {
	width: 100%;
}

.card #treatyProfile th {
	padding-right: .5em;
}

.card #treatyProfile td,
.card #treatyProfile th {
	vertical-align: top;
}

.card #treatyProfile li {
	padding: initial;
	cursor: initial;
	background: transparent;
	border: none;
}

#wikiSum {
	padding: .5em;
}

#wikiSum h3 {
	margin: 0 0 .5em 0;
	text-align: center;
}

#research-tool .loading {
	background-image: url(../img/loading.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3.5em;
}

#cardfeedback button {
	border: none;
	display: block;
	margin: 0 auto 1em auto;
	padding: .5em 1.5em;
	font-size: 1em;
	border-radius: 1em;
	background: #c9c9c9;
	color: #222;
	outline: none;
	cursor: pointer;
}

#cardswitcher {
	display: block !important;
	text-align: center;
	margin: 1.5em 0;
}

#cardswitcher button {
	display: inline-block;
	border: 0;
	background-color: #719abb;
	font-size: 1.1em;
	padding: .5em .7em;
	margin: .3em .2em;
	border-radius: 5px;
	box-shadow: inset 0 13px 15px 0 #7ca5b8,
		0 2px 9px -5px #000;
	color: #fff;
	cursor: pointer;
	outline: none;
	transition: .2s;
}

#cardswitcher button.selected {
	background-color: #476c9a;
	box-shadow: inset -1px 3px 12px -2px rgba(0, 0, 0, 0.30),
		0 2px 9px -5px #000;
}

.card .collapse-sign {
	display: none;
}

.card h2 {
	text-align: center;
	padding-left: 0;
	cursor: initial;
}

.card:not(.empty) .scroll {
	white-space: nowrap;
	overflow-x: hidden;
}

.card:not(.empty) .section {
	white-space: initial;
	overflow-x: initial;
	display: inline-block;
	border: 0 !important;
	height: 25em !important;
}

.card:not(.empty) .section:first-child {
	transition: margin-left .3s;
}

.card.empty .section {
	display: none !important;
}

.card.empty .section:first-child {
	display: block !important;
}

.position {
	display: none;
	height: 2.5em;
	text-align: center;
	line-height: 2.2em;
	border-top: 1px solid #acacac;
}

.position span {
	display: inline-block;
	height: 1em;
	width: 1em;
	background: #fff;
	border-radius: 50%;
	border: 2px solid #719abb;
	cursor: pointer;
	vertical-align: middle;
}

@keyframes rotate {
	from {
		transform: rotate(-90deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@media (max-width: 40em){
	#gaRes,
	#scRes,
	#secGen,
	#resourceGroups,
	#resourceLinks,
	#ReutersHeadlines,
	#GNewsHeadlines,
	#UNHeadlines,
	#treatyCategories,
	#treatyTitles,
	#treatyProfile,
	#unLevel1,
	#unLevel2,
	#unLevel3,
	#profileList,
	#profileMap,
	#profileFacts,
	#profilePreview,
	#ngoGroupList,
	#ngoPreview,
	#sourceWrapper,
	#newsWrapper,
	#searchWiki {
		width: 99.5%;
	}

	.card {
		max-width: 30em;
		max-height: initial !important;
	}

	#profilePreview,
	#profileFacts,
	#profileMap {
		height: 15em;
	}

	.ngoImg {
		width: auto;
	}

	#unLevel2,
	#treatyTitles,
	#profileFacts,
	#sourceWrapper,
	#GNewsHeadlines,
	#scRes {
		border-bottom: 5px solid #333;
		border-top: 2px solid #333;
		box-shadow: 0 -3px #333;
	}

	#profilePreview,
	#ngoPreview {
		height: auto;
		min-height: 13em;
	}

	#newsWrapper,
	#sourceWrapper {
		height: auto;
		max-height: 25em;
	}

	.position {
		display: block !important;

		height: 2.5em;
		text-align: center;
		line-height: 2.5em;
		border-top: 2px solid #666;}

	.position span {
		display: inline-block;
		height: 1em;
		width: 1em;
		background: #fff;
		border-radius: 50%;
		border: 2px solid #719abb;
		cursor: pointer;
	}

	.card .scroll[index="1"] + .position span:nth-child(1),
	.card .scroll[index="2"] + .position span:nth-child(2),
	.card .scroll[index="3"] + .position span:nth-child(3) {
		background: #719abb;
	}

	.card .scroll[index="1"] .section:first-child {
		margin-left: 0% !important;
	}

	.card .scroll[index="2"] .section:first-child {
		margin-left: -100% !important;
	}

	.card .scroll[index="3"] .section:first-child {
		margin-left: -200% !important;
	}

	#research-tool {
		padding-top: .5em;
	}
}